<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chapter6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6EA6C6F1B42DE3A00C9A2EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6EA6C831B42DE3B00C9A2EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6EA6C8E1B42DE3B00C9A2EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
